@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');


:root {
  /* primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neytral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
.learn-more,
h3 {
  font-family: "Fraunces", sans-serif;
}

p {
  color: var(--Grayish-blue);
}

.burger div {
  height: 3px;
  width: 30px;
  background-color: var(--White);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

.mobile-img {
  display: none;
}

.mobile-nav {
  display: none;
}

header {
  height: 100vw;
  height: 100vh;
  background: url(./images/desktop/technologies_used.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--White);
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  width: 100%;
  height: 90px;
  margin: 0 auto;
}

#logo {
  width: 250px;
}

#logo img {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 450px;
}

ul a {
  text-decoration: none;
  color: var(--White);
}

.btn {
  position: relative;
  z-index: 1;
  color: var(--Very-dark-grayish-blue);
}

.btn:hover {
  color: var(--White);
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
  border-radius: 30px;
  height: 50px;
  width: 120px;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.btn:hover::before {
  background-color: #0db4ff;
}

header h1 {
  font-size: 4rem;
  letter-spacing: 5px;
  margin-top: 5rem;
}


#down-arrow img {

  max-width: 180px;
  width: 50%;
  border-radius: 50%;
  margin-top: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 90vh);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-content {
  width: 60%;
  margin: 0 auto;
}

.inner-content h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.inner-content p,
.img-text p {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.learn-more {
  position: relative;
  cursor: pointer;
}

.learn-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 32%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--Yellow);
  transition: background-color 0.3s ease-in;
}

.learn-more:hover::after {
  background-color: var(--Soft-red);
}

.img-box-1 {
  background: url() no-repeat;
  background-size: cover;
  background-position: center;
}
.img-box-2 {
  background: url(./images/desktop/fun_stuff.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.img-box-3 {

  background-size: cover;
  background-position: center;
  position: relative;
}
.img-box-4 {
  background: url(./images/desktop/technologies_used.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-text p {
  color: var(--Dark-grayish-blue);
  text-align: center;
  margin-top: 2.5rem;
}

#client {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.client-container {
  /* margin-top: 4rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 80%;
}

.client-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}



.client-1 p,
.client-2 p,
.client-3 p {
  width: 80%;
  margin: 0 auto;
  color: var(--Very-dark-grayish-blue);
}

.client-info {
  margin-top: 3rem;
}

.client-info h3 {
  margin-bottom: 1rem;
}

#img-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.bottom-img {
  height: 100%;
}

.bottom-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desktop-img {
  display: block;
}

footer {
  background-color: #070707;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 2rem; */
}

#footer-nav {
  flex-direction: column;
  margin: 5rem 0;
}

#footer-nav #logo {
  width: 200px;
  margin-bottom: 3rem;
}

#footer-nav #logo svg {
  max-width: 100%;
  width: 100%;
}

#social-links {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

#social-links span {
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  nav {
    width: 85%;
  }

  #logo {
    width: 200px;
  }

  nav ul {
    width: 350px;
  }

  #client {
    height: auto;
  }

  #client h2 {
    margin-top: 5rem;
  }

  .client-container {
    flex-direction: column;
    margin: 5rem 0;
  }

  .client-2 {
    margin: 3rem 0;
  }

  .learn-more::after {
    display: none;
  }
}

@media screen and (max-width: 590px) {
  header {
    background: url(./images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
  }

  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    background-color: var(--White);
    border-radius: 5px;
    width: 90%;
    right: 0;
    top: 10%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    position: absolute;
  }

  .mobile-nav-active {
    transform: translateX(-5%);
  }

  .mobile-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
  }

  .mobile-ul a {
    color: var(--Dark-grayish-blue);
  }

  .btn::before {
    background-color: var(--Yellow);
  }

  .burger {
    display: block;
  }

  .toggle .line-1 {
    transform: rotate(45deg) translateX(11px);
  }
  .toggle .line-2 {
    opacity: 0;
  }
  .toggle .line-3 {
    transform: rotate(-45deg) translateX(11px);
  }

  .mobile-img {
    display: block;
  }

  .desktop-img {
    display: none;
  }

  #logo {
    width: 140px;
  }

  #logo img {
    display: block;
  }

  header h1 {
    font-size: 3rem;
  }

  main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 80vh);
  }

  .img-box-1 {
    order: 1;
    background: url(./images/mobile/image-transform.jpg);
    background-size: cover;
    background-position: center;
  }

  .text-1 {
    order: 2;
  }

  .img-box-2 {
    order: 3;
    background: url(./images/mobile/image-stand-out.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .text-2 {
    order: 4;
  }

  .img-box-3 {
    order: 5;
    background: url(./images/mobile/image-graphic-design.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .img-box-4 {
    order: 6;
    background: url(./images/mobile/image-photography.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .inner-content {
    width: 80%;
    text-align: center;
  }

  .inner-content h2 {
    font-size: 30px;
  }

  #img-section {
    grid-template-columns: repeat(2, 1fr);
  }

  #footer-nav ul {
    display: flex;
    width: 100%;
  }


}




.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}






* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 14em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 200%;
  height: 200%;
}

.card:after {
  background: white;
  width: 150%;
  height: 150%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 400px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}


button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container2 {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #070707;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}


